body, html {
    /* background-color: vlack; */
    height: 100%;
    width: 100%;
    line-height: 1.6;
    background-color: white;
}

#main-title{
    display: inline-block;
    padding-right: 15px;
}

#main-title a:link{
    text-decoration: none;
}

#social{
    display: inline-block;
}

a:link, a:visited {
    font-family: 'Poppins',sans-serif;
    color: #222;
    /* border:  1px solid #33CCFF; */
    padding: 2%;
}

/* navbar menu colours */
.navbar-inverse .navbar-nav>li>a:hover{
    /* color:#33CCFF; */
    border:  1px solid #33CCFF;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
    color:white;
    border:  1px solid #222;
}

/* .navbar-inverse .navbar-nav>li>a:hover{

} */

.logo-nav > li > a:hover, .logo-nav > li > a:focus{
  border:  1px solid #33CCFF;
  background-color: #222;
}

.logo-nav > li > a{
  border:  1px solid #222;
}


button a:link, button a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: white;
    text-decoration: underline;
}

h1{
    color: white;
}

h2{
    color: black;
    /* text-decoration-line: underline; */
    text-decoration: underline;
}


p{
  font-size: 16px;
}

button {
    background-color: transparent;
    /* border: 1px solid #f2b632; */
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

button:hover{
    background-color: #f2b632;
    border: 1px solid #f2b632;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.menu-item{
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 15px;
}

.menu-item-active{
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 15px;
}

.menu-item-active button a:link{
    text-decoration: underline;
}

#me{
    border-radius: 50%;
    height: auto;
    width: auto\9;
    max-width: 40%;
}

.main-container{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.navbar-fixed-top{
  border-color: #222;
}

.navbar-header{
  margin-top: 12px;
  text-align: center;
  /* margin-left: 20px; */
  float: none;
}

.navbar-brand{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  float: none;
}

.navbar .navbar-nav {
    /* margin-top: 10px; */
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    border-color: 0;
    color: White;
}

.logo-nav > li {
  border: 0;
  float: center;
  display: inline-block;
}

.logo-nav{
  display: inline-block;
  /* margin-top: 5%; */
  margin:10px;
  display: block;
  text-align: center;
  border-color: 0;
}

.nav-item{
    font-size: 20px;
    color: white;
}



/*
.responsive{
  width: 100%;
  height: auto;
} */


.navbar-nav > li {
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  float:none;
  border: 0;
  color: white;
  font-family: 'Merriweather', serif;
}

.logo{
  border: 0;
}

.container-fluid{
  margin-top: 2%;
  border:0;
}

.profile-image{
  /* width: 100%; */
  /* height: auto; */
  width: 200px;
  height: 200px;
  position: center;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  /* border: 3px solid #222; */
}


img {
  max-width: 100%;
  height: auto;
}


.col-sm-3{
  float: left;
  position: relative;
  /* align-items: center; */
  /* align-self: flex-end; */
  /* padding-left: 30%; */
  /* margin-top: */
  padding-left: 35%;
  color: grey;
  background-color: white;
}

.col{
  /* margin-left: 2%; */
  /* padding-left: 5%; */
  position: relative;
  float:left;
  word-wrap: break-word;
  text-indent: 5;
  text-align: left;
  max-width: 50%;
}


@media only screen and (max-width: 768px){

  .col-sm-3{
    float:left;
    position: relative;
    align-items: center;
    /* align-self: flex-end; */
    /* padding-left: 30%; */
    /* margin-top: */
    /* padding-left: 35%; */
    margin: 5%
    color: grey;
    background-color: white;
  }

  .profile-image{
    width: 100%;
    height: auto;
    /* width: 200px; */
    /* height: 200px; */
    position: center;
    overflow: hidden;
    border-radius: 50%;
    float: right;
    /* border: 3px solid #222; */
  }

  .col{
    /* margin-left: 2%; */
    /* padding-left: 5%; */
    position: relative;
    float:none;
    word-wrap: break-word;
    text-indent: 5;
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 20%;
    max-width: 50%;
  }


}

.col-title{
  margin-right: 0.5%;
  text-align: center;
  float: none;
}

.col-centre{
  word-wrap: break-word;
  float: 0;
  text-align: center;
  margin-left: 25%;
  max-width: 50%;
}

.responsive{
  max-width: 100%;
  height: auto;
}


/* Alignment for single centre column with left alingned text in resume.html */

.col-centre-left{
  word-wrap: break-word;
  text-align: left;
  padding-left: 25%;
  max-width: 75%;
}

.col-centre-left > h3{
  text-align: center;
  text-decoration: underline;
  margin: 3%;
}

.col-centre-left > p > a{
  border: 1px solid white;
}

.col-centre-left > p > a:link, .col-centre-left > p > a:visited{
text-decoration: underline;
/* border: 1px solid white; */
color: #222;
text-align: left;
padding: 0.1%;
}

.col-centre-left > p > a:hover{
  color: #222;
  border:  1px solid #33CCFF;
}

.col-centre-left > p {
  padding-left: 10%;
}

.col-centre-left > ul, .col-centre-left > li{
  padding-left: 15%;
}

.col-centre-left > h3 > a:hover, .col-centre-left > h3 > a:active{
  color: #222;
  border:  1px solid #33CCFF;
}
