body, html {
    /* background-color: vlack; */
    height: 100%;
    width: 100%;
    line-height: 1.6;
    background-color: white;
}

#main-title{
    display: inline-block;
    padding-right: 15px;
}

#main-title a:link{
    text-decoration: none;
}

#social{
    display: inline-block;
}

a:link, a:visited {a
    color: #f2b632;
}

/* navbar menu colours */
.navbar-inverse .navbar-nav>li>a:hover{
    /* color:#33CCFF; */
    border:  1px solid #33CCFF;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
    color:white;
    border:  1px solid #222;
}

/* .navbar-inverse .navbar-nav>li>a:hover{

} */

.logo-nav > li > a:hover, .logo-nav > li > a:focus{
  border:  1px solid #33CCFF;
  background-color: #222;
}

.logo-nav > li > a{
  border:  1px solid #222;
}


button a:link, button a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: white;
    text-decoration: underline;
}

h1{
    color: white;
}

h2{
    color: black;
    /* text-decoration-line: underline; */
    text-decoration: underline;
}

p{
  font-size: 16px;
}


button {
    background-color: transparent;
    /* border: 1px solid #f2b632; */
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

button:hover{
    background-color: #f2b632;
    border: 1px solid #f2b632;
    text-decoration: none;
    display: inline-block;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.menu-item{
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 15px;
}

.menu-item-active{
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 15px;
}

.menu-item-active button a:link{
    text-decoration: underline;
}

#me{
    border-radius: 50%;
    height: auto;
    width: auto\9;
    max-width: 40%;
}

.main-container{
    text-align: center;
    font-family: 'Poppins',sans-serif;

    /* margin-top: 200px; */
    /* color: black; */
    /* background-color: black; */
}

/* .main-container-2{
    text-align: left;
} */

.navbar-fixed-top{
  border-color: #222;
}

.navbar-header{
  text-align: center;
  /* margin-left: 20px; */
  float: none;
}

.navbar-brand{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  float: none;
}

.navbar .navbar-nav {
    margin-top: 5%;
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    border-color: 0;
    color: White;
}

.logo-nav > li {
  border: 0;
  float: center;
  display: inline-block;
}

.logo-nav{
  display: inline-block;
  /* margin-top: 5%; */
  margin:10px;
  display: block;
  text-align: center;
  border-color: 0;
}

.nav-item{
    font-size: 20px;
    color: white;
}


.navbar-nav > li {
  margin-top: 5px;
  margin-left: 10px;
  display: inline-block;
  float:none;
  border: 0;
  color: white;
  font-family: 'Merriweather', serif;
  /* border-width: thin;
  border-color: #33CCFF; */
  /* border:  1px solid #33CCFF; */
}

.logo{
  border: 0;
}

.container-fluid{
  margin-top: 20px;
  border:0;
}

.profile-image{
  /* margin-left: 5%; */
  width: 200px;
  height: 200px;
  position: center;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  /* border: 3px solid #222; */
}

.col-sm-3{
  float: 0;
  margin-left: 16%;
  /* margin-top: */
  color: grey;
  background-color: white;
}

.col{
  margin-left: auto;
  position: relative;
  float:left;
  text-indent: 5;
  text-align: left;
}

.col-title{
  margin-right: 0.5%;
  text-align: center;
  float: none;
}

.col-centre{
  float: 0;
  text-align: center;
}





/* img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
} */
